.contact-form{
    width: 50%;
    position: relative;
    z-index: 1;
}
/* 
.contact-form::before{
    content: "";
    height: 500px;
    width: 30px;
    position: absolute;
    top: -20%;
    left: 50%;
    z-index: -1;
    background-color: yellow;
    transform: rotateZ(45deg);
} */

@media (max-width: 768px) {
    .contact-form{
        width: 100%;
    }
}