.App{
  scroll-behavior: smooth;
}
.text-brand{
  color: #404083;
}
.btn-brand{
  background-color: #404083;
  color: white;
  padding: .5rem 1.5rem .5rem 1.5rem;
}
.highlighted-text{
  display: inline;
  color: #404083;
  padding: 5px 5px 0px;
  background-position-y: 0%;
  background-image: linear-gradient( ghostwhite 40%, yellow 60%);
  transition: background 500ms ease;
  background-size: 2px;
  background-size: auto 175%;
}
.highlighted-text:hover{
  background-position-y: 100%;
  background-image: linear-gradient( ghostwhite 50%, yellow 50%);

}

.row{
  max-width: 100%;
}
input, textarea{
  outline: none;
  border: none;
  background-color: #E5E5E5;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}
button:not(:disabled){
  cursor: pointer;
}
